.clr-palki{
    color: #cd3131;
}

.bg-palki{
    background-color: #cd3131;
}
.clr-white{
    color:#fff;
}

.bold-7{
    font-weight: 700;
}
.bold-9{
    font-weight: 900;
}

.wrapper-bg{
    background-color: #fff8f6;
}

.box-shadow{
    box-shadow: 0px 1px 9px #525252;
}

.banner-text-area{
    margin: 40px 0px;
}

.banner-text-area p{
    font-size: 19px;
    max-width: 700px;
    margin: 0 auto 11px;
    font-weight: 700;
    color: #44566c;
}

.button-style{
    padding: 13px 20px;
    border-radius: 30px;
    margin-left: 30px;
    color: #fff;
}

.Nunito{
    font-family: Nunito, sans-serif;
}

.span-text span{
    color: #cd3131;
    background-color: #f5dede;
    padding: 12px 30px;
    font-size:18px;
}

.banner-title{
    font-size: 52px;
    font-weight:900;
    font-family: 'Poppins', sans-serif;
}

.dish-card-wrapper{
    border-radius: 10px;
}

.dish-card-wrapper img{
    border-radius: 10px 10px 0px 0px;
}

.dish-info h4{
    font-size: 18px;
    font-weight: 600;
    padding-right: 80px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dish-info span{
    color:#cd3131;
    position:absolute;
    right:0;
}

.footer-title{
    position: relative;
    font-weight: 800;
    font-size: 22px;
    padding: 0 0 5px;
    margin: 0 0 30px;
    font-family: sans-serif;
    color: #cd3131;
    display: inline-block;
}
.footer-title:before {
    position: absolute;
    content: "";
    height: 2px;
    width: 80%;
    background: #cd3131;
    bottom: 0;
}
.fa-star{
    color: #f7a032;
}

.pt-8{
    padding-top:80px;
}

.service-card{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 30px rgb(0 0 0 / 8%);
    padding: 40px 20px 30px;
    text-align:center;
}

.service-img{
    height:88px;
    margin: 0 0 30px;
    text-align: center;
}

.service-img img{
    width: 80px;
    height: 80px;
}

.service-info h4{
    position:relative;
    font-family: sans-serif;
    font-size:18px;
    padding-bottom: 10px;
    font-weight:700;
    color: #212529;
}

.service-info h4:before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    background: #cd3131;
    width: 50%;
    height: 2px;
    border-radius: 20px;
}

.service-info p{
    color: #44566c;
    font-family: Nunito;
    font-size:16px;
}

.home-contact-bg{
    box-shadow:0 0 20px rgb(0 0 0 / 8%);
}

.text-justify{
    text-align: justify;
}
.story-list li{
    list-style: none;
    position: relative;
    background: #fff;
    padding: 10px 20px;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 8%);
    margin: 20px 0 0;
    border-radius: 3px;
    color: #cd3131;
    font-weight: 600;
}

.footer-copyright{
    position: relative;
}

.copyright::before {
    content: "";
    position: absolute;
    background-image: url(/shapee.png);
    background-repeat: repeat-x;
    background-position: center;
    height: 10px;
    left: 0;
    right: 0;
    top: -8px;
}

.catalog-cover span{
    width:100px;
    height: 100px;
}
.catalog-cover span img{
    border-radius: 8px;
}

.food-title h4{
    font-size: 22px;
    font-weight:600;
    font-family: Nunito;
}
.food-info{
    width: calc(100% - 80px);
    padding-left: 20px;
}

.food-title{
    position: relative;
}

.food-title span{
    position: absolute;
    top: 0;
    right: 0;
    color:#cd3131;
    font-weight: 600;
}

.team-wrapper img{
    border-radius: 6px;
}
.team-identity{
    background-color: #cd3131;
    padding: 0 15px;
    text-align: center;
    border-radius: 20px;
    color:#fff;
}
.team-info h5{
    font-family: Nunito;
    text-align: center;
    font-weight: 600;
}